.ownerAvatar {
    margin: 0 15px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px black;
}

.QuizImg {
    height: 200px;
    width: auto;
    object-fit: contain;
    max-width: 300px;
    display: block;
    margin: auto;
}