.AvatarImg {
    margin-top: 20px;
    height: 300px;
    object-fit: contain;
}

.ProfileCard {
    width: 60%;
}

@media (max-width: 870px) {
    .imageSmall {
        display: inline;
    }

    .cardColumnFixed {
        display: none;
    }

}

@media (min-width: 870px) {
    .imageSmall {
        display: none;
    }
}